<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat Login</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="login.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}" />
</head>
<body>
    <div class="login-page">
        <div class="form">
            <form class="login-form">
                <input type="text" placeholder="Username" name="username" id="username"/>
                <input type="password" placeholder="Password" name="password" id="password"/>
                <button type="button" onclick="getData()">Login</button>

                <img src="/static/images/login.gif" style="display:none" id="loading">
                <img src="/static/images/ok.jpg" style="display:none" id="ok">
                <img src="/static/images/notok.jpg" style="display:none" id="notok">
            </form>
        </div>
    </div>
</body>
</html>
