<!DOCTYPE html>
  <html lang="en">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css') }}">
    <title>Users</title>
  </head>
  <body>

    <main role="main" class="container">
    {% for post in posts %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="/chat/{{ post.id }}">{{ post.username }}</a>
              <small class="text-muted">{{ post.name }}</small>
              <small class="text-muted">{{ post.fullname }}</small>
            </div>
          </div>
        </article>
    {% endfor %}
    </main>

  </body>
  </html>